*{
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* @font-face {
	font-family: "My font";
	src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
	url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
} */

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
.container{
    /* width: 400px; */
    margin: 100px auto;
    background-color: lightcoral;
    text-align: center;
    padding: 50px;
    font-weight: 600;
    line-height: 1.5;
}