*{
    box-sizing: border-box;
}
*{margin: 0;}
body{
    background-color: #F6F5F5;
    font-family: 'inter' sans-serif;

}
.conteiner{
    width: 360px;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 56px 20px 91px 20px;
}
button{
    border: none;
    background-color: #ffffff;
}
.menu-items{
    padding: 0px 4px;
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.background-img{
    width: 74px;
    height: 74px;
    background-color: #EFEFEF;
    border-radius: 12px;
    padding: 18px 19px 19px 18px;
}
.position-title{
    margin-top: 8px;
    color: #C4C4C4;
}
.menu-position{
border: 1px solid black;
display: inline-block;
border: 0;
text-align: center;
width: 74px;
height: 101px;
border-radius: 12px;
font-family: 'inter', sans-serif;
}
.menu-position:hover .background-img{
    background-color: #EAE2B7;
}
.menu-position:hover .position-title{
    color: black
}
input{
    width: 316px;
    height: 44px;
    padding: 15px 0px 14px 15px;
    border-radius: 12px;
    background-color: #EFEFEF;
    border: 0;
    font-size: 12px;
    color: #999999;
}
h1{
    margin-top: 23px;
    margin-bottom: 19px;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: black;
}
h2{
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 20px; 
    color: black; 
    margin-top: 32px;
}
.burger1{
    width: 316px;
    height: 88px;
    margin-top: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
}
.text-burger{

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #003049;
    width: 100%;
}
.buy{

    font-family: 'Inter' , sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #D62828;
}
.block{

    display: inline-block;
}
.img-1{
    width: 60px;
    height: 68.51px;
    display: inline-block;
}
.img-2{
    width: 60.77px;
    height: 55.43px;
    left: 40.21px;
}
.img-3{
    width: 70px;
    height: 60px;
    left: 24px;
}